.singlelist-parent {
  transition: all 0.4s linear;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.slide {
  display: none;
}
.active {
  display: block;
}

.sp-controls {
  border: 1px solid red;
  padding: 250px 3%; // height for images comming from here
  display: flex;
  justify-content: space-between;
  align-items: center;
  .fas {
    background: transparent;
    cursor: pointer;
    color: white;
    font-size: 4rem;
  }
}
.singlemain {
  background: $spbg;
}

.pathname {
  background: $spbg;
  width: 100%;
  display: flex;
}

.twosection-parent {
  @include flex;
  @include wrapper;
  .tsc-first-item {
    max-width: 70%;
    min-width: 70%;
    margin-right: 3%;
    border: 1px solid red;
    .tandp {
      @include flex;
      h1 {
        font-weight: 500;
        font-size: 3.4rem;
      }
      p {
        font-size: 2.6rem;
        color: $yellow;
        font-weight: 600;
      }
    }
    // really light border top and bottom for title info
    .title-lighthr {
      border-top: 1px solid #f0f0f0;
      border-bottom: 1px solid #f0f0f0;
      padding: 10px 0;
      margin-bottom: 35px;
      margin-top: 10px;
    }
    .retail {
      @include flex;
      p {
        font-size: 1.5rem;
        color: $darkgray;
        margin-bottom: 3px;
      }
      .add-fav {
        @include favstyle;
      }
    }
    .taddress {
      @include flex;
      p {
        font-size: 1.5rem;
        color: $darkgray;
      }
      span {
        margin-left: 1.2rem;
        color: $footersearch;
        &:hover {
          color: $yellow;
        }
      }
    }
  } //left section
  .tsc-second-item {
    max-width: 30%;
    min-width: 30%;
    border: 1px solid green;
  } // right section
}
.add-fav-yellow {
  @include favstyle;
  display: inline-block;
  background: $yellow;
  padding: 2px 5px;
}
//adress
.ls-address-info {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  p {
    strong {
      color: $sl-items-title;
    }
    color: $sl-ptag;
    font-size: 1.4rem;
    width: 30%;
  }
}

//features section
.feature-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  p {
    font-size: 1.4rem;
    width: 30%;
    font-size: 1.4rem;
    color: $sl-ptag;
  }
  .fas {
    padding-right: 10px;
    color: $yellow;
  }
}

//walkscore section
.walkscore-section {
  display: flex;
  padding-top: 30px;
  .walkscore-link {
    background-color: $walkscore;
    padding: 1px 3px;
    font-size: 1.3rem;
    margin-left: 5px;
    color: $sl-ptag;
  }
  span {
    display: inline-block;
    margin-left: 10px;
    margin-top: 1px;
    font-size: 14px;
  }
}

//floor plans
.floorplans-section {
  .floor-plan-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
    padding: 10px 0;
    background: $walkscore;
    margin-top: 20px;
    p {
      font-size: 1.4rem;
      span {
        font-weight: 600;
      }
    }
  }
  .floor-desc {
    font-size: 1.4rem;
    line-height: 1.65;
    padding-left: 10px;
    margin-top: 10px;
    color: $sl-ptag;
    padding-bottom: 20px;
  }
}

//review section
.prop-review {
  p {
    font-size: 1.4rem;
    line-height: 1.65;
    padding-left: 10px;
    margin-top: 10px;
    color: $sl-items-title;
    padding: 10px 0;
    background: $walkscore;
    margin-top: 20px;
    padding-left: 10px;
  }
}
//global styling for single page
//had to break out of the nested too messy
// this is left section of single listing page
// need to add animation here later
.ls-toggle-active {
  height: 0;
  overflow: hidden;
  -prefix-animation: slide 1s ease 3.5s forwards;
}
@-prefix-keyframes slide {
  from {
    height: 0;
  }
  to {
    height: auto;
  }
}
.sl-item {
  @include flex;
  align-items: center;
  i {
    font-size: 1.9rem;
  }
  cursor: pointer;
  transition: all 0.4s linear;
}
.sl-items-title {
  color: $sl-items-title;
  font-size: 1.8rem;
  font-family: "Poppins";
  font-weight: 600;
}
.sl-title {
  color: $sl-title;
  margin-bottom: 0;
  font-size: 1.8rem;
  padding: 0 0 30px;
  font-family: "Poppins";
  font-weight: 600;
}
.sl-ptag {
  font-family: "Poppins";
  line-height: 1.65em;
  font-size: 1.4rem;
  color: $sl-ptag;
}
.sl-white-box {
  box-sizing: border-box;
  border-radius: 2px;
  background: $white;
  padding: 30px;
  margin-bottom: 35px;
}
