.navlist-style {
  background: $black;
}
.uvc-svg-triangle-2 {
  background-color: $black;
}

.white {
  margin: 40px 0;
  color: $white;
}

.newlisting-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid green;
}

.newlisting-flex-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

.newlisting-card {
  border-radius: 2px;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  // max-height: 500px;
  min-height: 380px;
  min-width: 345px;
  // max-width: 345px;
  margin: 10px;
  cursor: pointer;
  @include xl {
    min-height: 380px;
    min-width: 305px;
  } // Large tablets and desktops 1200px;
  @include lg {
    min-height: 380px;
    min-width: 275px;
  } // Tablets and small desktops 992px;
  @include md {
    min-height: 380px;
    min-width: 600px;
  } // Small tablets (portrait view) 768px;
  @include sm {
    min-height: 380px;
    min-width: 450px;
  } // Small tablets and large smartphones (landscape view) 576px;
  @include xs {
    min-height: 380px;
    min-width: 350px;
  } // Tiny phones 425px;
}

.newlist-card-item {
  transition: all 0.4s linear;
  font-family: "Poppins";
  color: $white;
  text-align: center;
  padding-top: 250px;
  background-color: rgba(0, 0, 0, 0.429);
  height: 100%;
  width: 100%;
  &:hover {
    background-color: rgba(0, 0, 0, 0);
  }
  h3 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }
  span {
    font-size: 1.2rem;
  }
  p {
    font-size: 1.4rem;
    text-transform: uppercase;
  }
}
